* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .14rem; }

html, body, .box {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: #000; }

ul, ol {
  list-style: none; }

b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

html {
  font-size: 625%; }

.box {
  display: flex;
  flex-direction: column;
  background: #f0efed; }

header {
  width: 100%;
  height: .4rem;
  background: #09bfb0;
  display: flex;
  align-items: center;
  justify-content: center; }
  header a {
    text-align: center;
    color: #fff; }
    header a i {
      display: inline-block; }
  header a:first-child {
    width: 20%; }
    header a:first-child i {
      font-size: .1rem; }
  header a:nth-child(2) {
    width: 70%;
    background: #07a395;
    height: .3rem;
    line-height: .3rem;
    position: relative;
    border-radius: .05rem; }
    header a:nth-child(2) input {
      border: none;
      background: #07a395;
      outline: none;
      padding-left: .3rem; }
    header a:nth-child(2) i {
      position: absolute;
      left: .06rem; }
  header a:last-child {
    width: 20%;
    font-size: .12rem; }

section {
  width: 100%;
  flex: 1;
  overflow-y: scroll; }
  section .banner {
    width: 100%;
    background: #f0efed;
    display: flex;
    align-items: center;
    justify-content: center; }
    section .banner img {
      width: 90%; }
  section .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin-bottom: .1rem; }
    section .main p {
      width: 20%;
      text-align: center;
      padding: .1rem 0 .05rem 0; }
      section .main p i {
        width: .4rem;
        height: .4rem;
        border-radius: .5rem;
        background: pink;
        display: inline-block;
        line-height: .4rem;
        font-size: .21rem; }
      section .main p a {
        font-size: .12rem; }
  section .title {
    width: 100%;
    background: #fff;
    display: flex;
    margin-bottom: .1rem; }
    section .title dl {
      width: 33%;
      padding: .1rem;
      border-left: .01rem solid #ccc; }
      section .title dl dd {
        width: 100%;
        text-align: center; }
        section .title dl dd h2 {
          font-size: .15rem;
          color: green; }
        section .title dl dd p {
          font-size: .04rem;
          padding: .1rem 0; }
      section .title dl dt {
        width: 100%; }
        section .title dl dt img {
          width: 70%; }
  section .hang {
    width: 100%;
    line-height: .4rem;
    background: #fff;
    border-bottom: .01rem solid #ccc; }
    section .hang h3 {
      font-weight: normal;
      font-size: .15rem;
      padding-left: .05rem; }
  section .like {
    width: 100%;
    background: #fff; }
    section .like dl {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: .01rem solid #f0efed; }
      section .like dl dt {
        width: 30%;
        padding: .09rem; }
        section .like dl dt img {
          width: 90%; }
      section .like dl dd {
        width: 70%;
        position: relative; }
        section .like dl dd h2 {
          font-size: .15rem;
          font-weight: normal; }
        section .like dl dd p {
          font-size: .1rem;
          margin-bottom: .2rem;
          color: #999; }
        section .like dl dd b {
          color: #09bfb0;
          font-weight: bolder;
          font-size: .16rem; }
          section .like dl dd b i {
            font-size: .12rem;
            color: #000;
            font-weight: normal; }
        section .like dl dd span {
          font-size: .05rem;
          position: absolute;
          right: .07rem; }
  section .more {
    width: 100%;
    background: #fff;
    position: relative; }
    section .more p {
      line-height: .4rem;
      padding: 0 .1rem;
      color: #07a395;
      font-weight: bolder; }
      section .more p span {
        position: absolute;
        right: .1rem; }
  section .bottom {
    width: 100%;
    margin-top: .2rem;
    text-align: center; }
    section .bottom a {
      width: 25%;
      padding: .1rem .2rem;
      line-height: .2rem;
      border-radius: .1rem;
      border: .01rem solid #07a395; }
  section .bottom2 {
    width: 100%;
    margin-top: .1rem;
    text-align: center; }
    section .bottom2 a {
      padding: .1rem .1rem;
      line-height: .4rem;
      text-align: center;
      color: #07a395; }

/*# sourceMappingURL=style.css.map */
